.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 20vh;
}

.header {
    grid-row: 1/2;
    background-color: #E6E6E6;
    vertical-align: middle;
}

.icon {
    color: red;
    font-size: 7vh;
    padding-left: 1.5vw;
    padding-top: 1.5vh;
        
}

.navigation-box {
    background-color: maroon;
    display: grid;
    height: 40vh;
    width: 65vw;
    transform: translateX(-60vw);
    z-index: 1000;

    transition: all 1.5s ease;

    &__link1 {
        background-color: cornflowerblue;
        border: 1px solid orange;
    }

    &__link2 {
        background-color: white;
        border: 1px solid orange;
    }
}

.move {
    transform: translateX(0vw);
}